body
{
    background-color:#4b4b4b;
    font-family: sans-serif;
    
}
table
{
    color:#6c6c6c
}
button
{
    border: 1px solid rgb(255, 255, 255);
}

.bg-gray
{
    background-color: #D8D8D8;
}

.text-gray
{
    color: #2a2a2a;
}
.text

.d-grid gap-2
{
    color:#ec0909
}