body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
    margin: auto;
}

h1
{
    text-align: center;
}

nav {
    float: left;
    position: relative;
    width: 15%;
    margin-right: 2%;
}

nav > ul
{
    list-style-type: none;
}

nav a 
{
    text-decoration: none;
    color: white;
}

nav li 
{
    background-color: #438148;
    text-align: center;
    padding: 5%;
    margin-bottom: 5%;
    border: 2px solid #e5e776c0;
}

nav li:hover
{
    background-color: #0e480c;
}

.paginaActual
{
    background-color: #dda463;
}

.paginaActual:hover
{
    background-color: #c27a29;
}

main
{
    border: 1px solid #a9e860;
    padding: 1%;
    width: 80%;
}

.content
{
    display: inline-block;
}

.t2
{
    color: #324514;
    border-bottom: 1px solid #ced65c;
}


.verde
{
    color: #668c29;
}

.naranja
{
    color: #a3600f;
}