.bg-azul
{
    background-color: #72c2b3;color:gray
}
.bg-secondary
{font-family: georgia;color:gray
    background-color: #d4f0cb;
}
.nav-item 
{font-family: georgia; color:d;  background-color: #bcf1f1;
}