table {
    width: 80%;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

.resaltar {
    font-family: Verdana;
    font-weight: bold;
}

.centrar {
    text-align: center;
}